.flex_displaynone {
    display: none;
}

/* Header */
header {
    top:0;
    padding: 4px 8px;
}

header h1 {
    max-width: 80px;
}

header p {
    font-size: 12px;
}

aside {
    display: none;
}

.section {
    height: 100%;
}

.section .twoWrap {
    flex-direction: column;
}

.section .twoWrap div img {
    width: 100%;
}

.section div.slogan {
    width: 100%;
}

.section div.slogan img {
    max-width: 250px;
}

.section.sec4 h3 {
    padding:0 16px;
}

.section .section4 {
    flex-direction: column;
}

.section .section4 li {
    padding-top: 64px;
}

#sec4 {
    padding-bottom: 120px;
}

footer ul {
    padding: 0;
    justify-content: center;
}
